@import url('https://fonts.googleapis.com/css2?family=Jua&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

:root{
    --title-text: rgb(124, 106, 97);
    --title-text-dark: rgb(40, 35, 33);
    --p-text: rgb(34, 34, 34);
}

body{
    background-color: rgb(75, 66, 61);
}

@keyframes fade-out{
    from {display: block; opacity: 100%;}
    to {display: none; opacity: 0%;}
}

@keyframes fade-in{
    from {display: none; opacity: 0%;}
    to {display: block; opacity: 100%;}
}

@keyframes fade-in-more{
    from {opacity: 0%; width: 50%;}
    to {opacity: 100%; width: 100%;}
}

.hidden{
    display: none;
}

.fade-out-loading{
    display: none;
    animation-name: fade-out;
    animation-duration: 2s;
}

.fade-out{
    animation-fill-mode: initial;
    animation-name: fade-out;
    animation-duration: 2s;
}

.fade-in{
    animation-fill-mode: initial;
    animation-name: fade-in;
    animation-duration: 2s;
}

.fade-in-more{
    animation-fill-mode: initial;
    animation-name: fade-in-more;
    animation-duration: 2s;
}

.title-text{
    color: var(--title-text);
    font-size: 2vw;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title-text-dark{
    color: var(--title-text-dark);
    font-size: 2vw;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.small-title-text{
    color: var(--title-text);
    font-size: 1vw;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.small-title-text-dark{
    color: var(--title-text-dark);
    font-size: 1vw;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p-text{
    color: var(--p-text);
    font-size: 1vw;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.full-home-buttons{
    position: absolute;
    width: 99%;
    height: auto;
    z-index: 2;
}

.home-buttons{
    height: auto;
    background: none;
    border-style: none;
}

.home-buttons:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 0.55rem rgba(140, 115, 101, 0.689));
}

#project-prop{
    position: absolute;
    width: 14%;
    left: 47.5vw;
    bottom: 17.7vw;
}

#project-btn{
    width: 100%;
}

#about-prop{
    position: absolute;
    width: 12%;
    left: 35.5vw;
    bottom: 21.3vw;
}

#about-btn{
    width: 100%;
}

#resume-prop{
    position: absolute;
    width: 13%;
    left: 35vw;
    bottom: 16.2vw;
}

#resume-btn{
    width: 100%;
}

#linkedin-prop{
    position: absolute;
    width: 6.5%;
    left: 18vw;
    bottom: 23.7vw;
}

#linkedin-btn{
    width: 100%;
}

#itch-prop{
    position: absolute;
    width: 9%;
    left: 10.5vw;
    bottom: 16.7vw;
}

#itch-btn{
    width: 100%;
}

#github-prop{
    position: absolute;
    width: 5.5%;
    left: 5.2vw;
    bottom: 10.5vw;
}

#github-btn{
    width: 100%;
}

#loading-text{
    position: absolute;
    left: 45%;
    top: 45%;
}

#loading{
    position: absolute;
    z-index: 5;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 35, 33);
}

#exit-screen-container{
    position: absolute;
    z-index: 4;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#exit-screen-btn{
    position: absolute;
    cursor: pointer;
    z-index: 4;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 80%;
    background-color: rgb(40, 35, 33);
}

#exit-text{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 90%;
}

#about-me-container{
    position: absolute;
    z-index: 5;
    bottom: 0%;
    width: 99%;
    height: auto;
}

#about-back{
    position: absolute;
    z-index: 5;
    width: 65%;
    left: 17%;
    bottom: 0.5vw;

    filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.5));
}

#about-title{
    position: absolute;
    z-index: 5;
    width: 10%;
    left: 57.5vw;
    bottom: 30vw;
}

#about-text{
    position: absolute;
    text-align: center;
    z-index: 5;
    width: 23%;
    left: 50.5vw;
    bottom: 22vw;
}

#williams-title{
    position: absolute;
    z-index: 5;
    width: 10%;
    left: 58vw;
    bottom: 13vw;
}

#williams-text-top{
    position: absolute;
    z-index: 5;
    width: 20%;
    left: 58vw;
    bottom: 11.5vw;
}

#williams-text-bottom{
    position: absolute;
    z-index: 5;
    width: 20%;
    left: 58vw;
    bottom: 10vw;
}

#background-full{
    position: absolute;
    bottom: 0%;
    width: 99%;
    height: auto;
}

#background-right{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    right: 0%;
    width: 70%;

    filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.5));
}

#background-left{
    position: absolute;
    z-index: 0;
    bottom: 0%;
    left: -1%;
    width: 33%;

    filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.5));
}