@import url('https://fonts.googleapis.com/css2?family=Alata&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

.sidebar {
    position: sticky;
    top: 20%;
    left: 5%;
}

.headshot{
    left: 70px;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 3px solid;
    border-color: #ececec;
}

.SideButton{
    border: none;
    background: none;
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.SideButton:hover{
    transform: translate(-10%, -0%);
    transition: 0.3s;
}

ul{
    list-style: none;
}

.buttonImage{
    border: none;
    vertical-align: top;
    width: 250px;
    height: 80px;
}

.img-text {
    position: absolute;
    font-size: x-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    text-align: center;
    font-family: "Alata", serif;
}

.hamburger{
    display: none;
}